body {
    padding: 0;
    margin: 0;
    background-color: rgb(250, 223, 238);
    text-align: center;
}

nav {
    background-color: plum;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    margin-top: 15px;
    text-decoration: none;
    padding: 14px 17px;
    float: left;
    display: block;
    font-size: 20px;
    color: black;
}

nav a:hover {
    background-color: black;
    color: white;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
}

nav a.active {
    background-color: rgb(250, 223, 238);
    color: black;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
}

button {
    float: right;
    border: none;
    background: none;
}

img {
    width: 50px;
    height: auto;
}

.cart {
    width: 200px;
    height: auto;
}

section {
    margin-top: 100px;
}

div {
    width: 300px;
    height: auto;
    float: left;
    margin: 20px;
}

.cart:hover {
    transform: scale(1.2);
}

h1 {
    text-align: center;
    width: 200px;
}

.add-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
}

.price {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-item:hover {
    background-color: plum;
}

.price:hover {
    background-color: plum;
}

ul {
    text-align: left;
}

table,
tr,
td {
    border: 1px solid black;
}

td {
    width: 200px;
}