.div-container {
    float: left;
    border: 2px solid black;
    margin: 10%;
    padding: 10px;
}

table {
    margin: 20px;
    border: 1px solid black;
}

th {
    width: 100px;
}

.cart-table {
    width: 100px;
    margin: 20px;
    border: 1px solid black;
}

tr {
    padding: 10px;
}