.indexbgImage{
    animation-name: changeBG;
    animation-duration: 3s;
    background-color: darkgray;
}

@keyframes changeBG{
    from{background-color: black;}
    to{background-color: darkgray;}
}

#indexBookImage{
    width: 30%;
    height: auto;
    margin-top: 5%;

}
.rotate {
    animation: rotation 40s infinite linear;
  }
@keyframes rotation{
    from{transform: rotate(0deg);}
    to{transform: rotate(359deg);}
}