/*
    This css page is an over reaching styles page applied to every page
    It is mainly applied to the navigation menu on every page
    But it has some styles which aplly to other pages aswel, mainly the Books.html page
    However it does add the fade in for the content of each page
*/
/* This sets the background color and image*/
.bgImage{
    background-color: darkgrey;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../Resources/Images/smoke_slow.gif);
}
/* This controls animations for div for the content that the page displays */
#contentDiv{
    animation-name: fadeIn;
    animation-duration: 1.5s;
}
/* This is a simple fade in animations created by setting the content from
 being completly transparent to completly opaque*/
@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
/* This sets the styles of all h1 elements */
h1{
    color: rgb(180, 3, 3);
    text-align: center;
}
/* This sets the style of all ul elements, only used in the navigation menu */
ul{ 
    background-image: "../";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
/* This sets the style of all li elements, only used in the navigation menu */
li{
    float: left;
} 
/* This just sets a background image of a lightning gif, only used in the books.html page for fun */
#lightningBackground{
    background-image: url(../Resources/Images/lightning.gif);
    background-size: cover;
}
/* This sets an active tag to whatever page you're currently on */
.active {
    background-color: #4CAF50;
}

/* This sets the styles of all a elements located within all li elements, this is only used in the navigation menu */
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* This sets the styles of all a elements located within all li elements when hovered over,
 this is only used in the navigation menu */
li a:hover{
    background-color: red;
}

/*
  Created some basic classes to override the already overriden initial values
  Yes. It's redundant. I'll fix it...... later.
*/
.basicUL{
    background-color: initial;
}
.basiclist{
      float: initial;
      box-sizing: unset;
      color: initial;
}
.basicA{
      display: initial;
      padding: initial;
      color: black;
}
.basicH1{
      display: initial;
      padding: initial;
      color: black;
}


/*
    For the books.html page to control the layout coming from the .csv file
*/
.bookDiv{
    float: left;
    text-align: center;
    width: 30%;
    margin: 10px;
}
.bookImg{
    height: 30%;
    width: auto;
}
.seriesH1{
    display: initial;
    margin: 10px;
    color: red;
}


@media only screen and (max-width: 1050px) {
    .bgImage {
      background-color: grey;
      background-image: none;
    }
    .bookDiv{
        text-align: center;
        width: 90%;
    }
    .bookImg {
        width: 80%;
        height: auto;  
    }
    .seriesH1{
        display: initial;
        color: red;
    }
  }